# R specific files
*.RData
*.Rhistory
*.Rproj.user
*.Rbuildignore
*.Rproj
*.Rprofile
*.Ruserdata
eRprofile

# Environment and credentials
.Renviron
.Renviron.site
.credentials.yml
source_token.txt

# System files
.DS_Store